# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src_js/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/src_js/.next/
/out/

# production
/src_js/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/src_js/.env.local
/src_js/.env.development.local
/src_js/.env.test.local
/src_js/.env.production.local

# vercel
src_js/.vercel
